<!DOCTYPE html>
<html>
<head>
<title>Motion JPEG(MJPEG)</title>
<link rel="stylesheet" type="text/css" href="css/app.css" media="all">
<link rel="stylesheet" type="text/css" href="css/slider.css" media="all">
<!-- jQuery -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io();
var isLive = false;
socket.on('connected',function(id) {
    socket.emit('stop-stream');
    $('.start').show();
    $('.stop').hide();
    var idString = id;
    if (isLive) {
        idString = idString + ' [Reconnected]';
        isLive = false;
    }
    $('#start_id').text(idString);
    $('#slider1').show();
});
socket.on('disconnect', function(){
  $('#stream').hide();
  $('.start').hide();
  $('.stop').hide();
  $('#start_id').text('[now server down..]');
  $('#slider1').show();
});
socket.on('liveStream', function(url, id) {
    if (!isLive) {
        $('#stream').show();
        isLive = true;
    }
    $('#stream').attr('src', url);
    $('.start').hide();
    $('.stop').show();
    $('#start_id').text(id);
});
socket.on('liveStopped', function () {
    $('.start').show();
    $('.stop').hide();
    $('#slider1').show();
});
var startStream = function() {
    var interval = $('#slider1o').val();
    socket.emit('start-stream', interval);
    $('.start').hide();
    $('.stop').show();
    $('#slider1').hide();
}
var stopStream = function () {
    socket.emit('stop-stream');
    $('.start').show();
    $('.stop').hide();
    $('#slider1').hide();
}

</script>
</head>
<body>
<h1>mjpeg test</h1>
<hr>
<div>
<p id="start_id"></p>
</div>
<hr>
<button type="button" id="" class="btn start" onclick="startStream()">Start</button>
<button type="button" id="" class="btn stop" onclick="stopStream()">Stop</button>
<div class="row">
<img src="" id="stream">
</div>
<form class="js-slider-form" onsubmit="return false;">
    now interval is<input type="text" name="slider" id="slider1o" value="100" readonly>ms
    <div id="slider1" class="js-slider">
        <div></div>
        <input type="button" value="">
    </div>
</form>
<script src="js/slider.js"></script>
</body>
</html>
